body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iransans;
  direction: rtl;
}

.Header {
  font-family: iransans;
  background-color: rgb(227, 230, 235);
}

.Header .container {
  padding-top:20px;
  padding-bottom: 20px;
  
}

.title-header{
  margin-top:60px;
}


.backimg img {
  width: 100%;
  height: 100%;
}

.container .content-text {

  align-items: flex-start;
  text-align: right;
  padding-right:20px;
  
  
}

.titleh {
  color: rgb(6, 21, 119);
  font-weight: 700;
  line-height: 65px;
  font-size:45px;
  text-align: right;
 
}


.content-text p,
.content-text .resume-text {
 
  color: rgb(51, 57, 132);
  font-size: 20.5px;

}

.content-text .resume-text {
  margin-top: -15px;
}


.content-text .down-app {
  color: #fff;
  display: inline-block;
  padding: 27px 30px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: rgb(14, 20, 65);
  background-image: -webkit-linear-gradient(to right, rgb(14, 20, 65), rgb(27, 40, 129));
  background-image: -moz-linear-gradient(to right, rgb(14, 20, 65), rgb(27, 40, 129));
  background-image: -o-linear-gradient(to right, rgb(14, 20, 65), rgb(27, 40, 129));
  background-image: linear-gradient( to right, rgb(14, 20, 65), rgb(27, 40, 129));
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-radius: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-size: 22.5px;
  font-weight: 600;
  line-height: 0px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.content-text .down-app2 {

  padding: 27px 45px;
  background-color: rgb(11,35, 194);
  background-image: linear-gradient(to right, rgb(11,35, 194), rgb(72, 12, 171));
  background-image: -webkit-linear-gradient(to right, rgb(11,35, 194), rgb(72, 12, 171));
  background-image: -moz-linear-gradient(to right, rgb(11,35, 194), rgb(72, 12, 171));
  background-image: -o-linear-gradient(to right, rgb(11,35, 194), rgb(72, 12, 171));
  margin-top:50px;
  
}

.modalfont {
  font-weight: 700;
  font-size: 28px;
}
.section-two {
 
  background: url("../New folder/Artboard.png") ;

  background-size: cover;
  
}

.section-two .whyinst {
  color: white;
  font-weight: 600;
  font-size:38px;
  border:1px solid transparent;
}

.support-app {
 
  background: url("../New folder/Artboard.png") no-repeat;

  background-size: 100%;
}

.padright-div {
  padding-right:20px;
}
.sectionthree .introduce{
  font-size:26.5px;
  font-weight: 500;
  line-height: 41px;
  padding-left:50px;
  
}

.last-section{
  background: url("../New folder/footerartboard.png") no-repeat;
  background-size: cover;
  padding-top:50px;
  padding-bottom:50px;
}

.support {
  color: white;
  padding-top: 30px;
}

.app p,
.support-app p {

  color: white;
  font-size: 19px;
  margin: 25px auto;
  font-weight: 500;
}

.support-icon {
  width:190px;
  margin:40px auto;

}

.support-icon a{
  width:45px;
  height:45px;
  text-decoration: none;
  
}

.support-icon a img{
  width:100%;
  height:100%;
}

.support-icon a:nth-child(1){
  margin-left:38px;
  
}

.support-icon a:nth-child(2) {
  width:49px;
  height: 41px;
} 

.support-icon a:nth-child(3) {
  margin-right:38px;
} 



h4,
h2 {
  margin-top: 20px;
  color: rgb(6, 21, 119);
}


.sectionthree {
  direction: rtl;
}

.sectionthree p,
.sectionfive p,
.section-six p {
  color: rgb(51, 57, 132);
  padding-top: 17px;
  padding-left: 20px;
  font-weight: 600;
  font-size: 17px;
  line-height: 29px;
}


.section-six p {
  text-align: right;
}

.sectionthree p{
  padding-left:90px;
}


.sectionfive p {
  color: rgb(51, 57, 132);
  padding-top: 10px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 35px;
}


.section-six {
  padding-right:43px;
  padding-left: 43px;
  margin-bottom:65px;
}

.sectionfive .padright-div h2{
  
  font-weight: 600;
  font-size:38px;
}


h4 {
  padding-left: 20px;
}

.sectionthree h5 {
  padding-left: 20px;
}

.playicon{
  /* border:1px solid red; */
}

.video {
  height: 230px;
  margin: 20px auto;
  border-radius: 9px;
  /* border:1px solid red; */
  padding: 0px;
  /* border:1px solid red; */

}

.video  img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sectionfour {
  background: rgb(237, 240, 245);
}
.sectionfour-container{
  padding-right:25px;
  padding-left:20px;
}

.sectionfourdetail p {
  font-weight: 700;
}

.items {
  margin-top: 60px;
}

.item {
  margin-top: 40px;
   /* border:1px solid red; */
}


.icon-translator {
  height: 80px;
  width:80px;
  margin:0 auto;

  /* border:1px solid red; */
}

.icon-translator img {
  height: 100%;
  width: 100%;
  
}

.sectionfour-detail1{
  margin-top:0px;
}
.item p {
  font-size: 14.5px;
  color: rgb(6, 21, 119);
  font-weight: 600;
  line-height: 22px;
  text-align: right;
  margin-top:10px;
  /* padding-right:10px;  */
}

.tarjomeani {
  padding-top:35px;
  padding-bottom:35px;
}

.tarjomeani p {
  font-size: 14.5px;
  color: rgb(6, 21, 119);
  font-weight: 600;
  line-height: 22px;
  
}


.Galaxy {
  height: 470px;
  /* margin-top: 35px;
  margin-bottom: 30px;
  margin-right:41px;
  margin-left: 41px; */
  margin:auto;
  padding-top:30px;
  padding-bottom: 30px;
  /* border:1px solid red; */
  padding-left: 0px;
  padding-right: 0px;
 
}

.Galaxy img {
  height: 100%;
  width: 100%;
}

.tarjomeani {
  margin: 0 auto;
}



.logofooter {
  
  width:65px;
  height:65px;
}

.last-section p{
  font-size:16px;
  font-weight: 600;
  color: rgb(6, 21, 119);
}
